.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  color: #3d483b;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #6d8a6e;
  color: white;
  border: none;
}
