body {
  margin: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

h1{
  margin: 0;
}

p{
  margin: 0;
}

ul{
  margin: 0;
  padding-left: 25px;
}

form :focus{
   outline: none;
   box-shadow: 2px 5px 5px rgba(0, 196, 113, 0.1);
}